.experiencia {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
}

.experiencia .subtitulo {
  color: #e0e0e0;
}

.experiencia-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  max-width: 50ch;
  margin-bottom: 60px;
  color: #525252;
}

.experiencia-texto strong {
  color: #141414;
}

.empresa {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  gap: 10px 20px;
  background: #f5f5f5;
  margin-bottom: 20px;
  border-radius: 4px;
  position: relative;
}
.empresa::before {
  content: '';
  display: block;
  width: 4px;
  height: 20px;
  background: linear-gradient(#b6f829, #67dd0a);
  left: -4px;
  top:20px;
  position: absolute;
}
.empresa-ano {
  position: absolute;
  top: 22px;
  left: -100px;
  color: #525252;
  text-align: right;
  width: 80px;
  font-size: 0.875rem;
}
.empresa-titulo {
  font-size: 1.125rem;
  line-height: 1.1;
  font-weight: bold;
}
.empresa-texto {
  font-size: 0.875rem;
  line-height: 1.4;
  color: #525252;
}
.empresa-habilidades {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-content: start;
}

.empresa-habilidades li {
  background: #fff;
  border-radius: 4px;
  padding: 10px 16px;
  line-height: 1.4px;
  font-size: 0.875rem;
}

@media (max-width: 800px){
  .experiencia {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .experiencia .subtitulo {
    color: #141414;    
  }
  .experiencia-texto {
    font-size: 1.25rem;
  }
  .empresa-ano {
    position: initial;
    order: 1;
    width: initial;
    text-align: left;
  }
  .empresa-ano::before {
    content: "Ano: "; 
  }
}  

@media (max-width: 400px){
  .empresa {
    grid-template-columns: 1fr;
  }
}