img {
  max-width: 100%;
  border-radius: 50%;
}

.introducao {
  max-width: 960px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  align-items: center;
}
.introducao h1 {
  font-size: 3.0rem;
  line-height: 1.1;
  margin-bottom: 30px;
  position: relative
}
.introducao h1::before {
  content: "";
  display: block;
  width: 130px;
  height: 100px;
  background: url("../img/detalhe.svg") no-repeat center;
  position: absolute;
  top: -15px;
  left: -40px;
  z-index: -1;
}

.introducao p {
  font-size: 1.5rem;
  line-height: 1.5;
  color: #525252;
  margin-top: 40px;
}

@media (max-width: 1000px){
  .introducao h1 {
    font-size: 2rem;
  }  
}  

@media (max-width: 800px){
  .introducao p {
    font-size: 1rem;
  }  
  .introducao {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }
  .introducao h1 {
    font-size: 2rem;
  }
  .introducao h1::before {
    width: 30px;
    height: 10px;
    left: 0px
  }
  .introducao p {
    margin-top: 10px;
  }
}

@media (max-width: 600px){
  .introducao {
    grid-template-columns: 1fr;
  }
  .introducao img {
    display: none;
  }
}